@font-face {
	font-family: 'uni0553';
	src: url('fonts/uni0553-webfont.woff') format('woff');
}

* {
  box-sizing: border-box;
}

header {
	padding: 10px;
	background-color: #7a7989;
	color: #000000;
	text-align: center;
	font-family: uni0553;
}

header h1 {
	text-shadow: 1px 1px 4px white, 
				 -1px -1px 4px white;
	font-size: 2.5em;
}

#header-timeline {
	padding-bottom: 0;
}

nav ul {
	    list-style-type: none;
		margin: 0;
		padding-left: 0px;
		background-image: url(../img/ninja.png);
}

.aside-link {
	text-align: center;
	background-color: #CBCAD0;
	color: black;
	font-family: uni0553, 'Times New Roman';	
	padding: 30px 10px;
	cursor: pointer;
}

.aside-link:hover {
	/*background-color: #FFFFFF;*/
	opacity: 0;
}

#aside-note {
	margin-left: 50px;
}

form {
	text-align: center;
	font-family: monospace;
	margin: 20px;
	width: 75vw;
}

input {
	margin: 3px;
}

main {
    display: flex;
}

#about-article {
	margin: 50px;
	margin-left: 80px;
}

aside h2 {
	font-family: cursive;
	font-size: 45px;
	color: green;
}

#level-history-note {
	display: block;
	width: 15%;
}

footer {
	margin-left: 15%;
}
.chart_header {
	background-color: #FFFFFF;
}

header nav ul {
	margin: 0 auto;
	width: 100%;
	background-image: none;
}

header nav ul li {
	display: inline;
}

header ul li a {
	text-decoration: none;
	background-color: #CBCAD0;
	color: black;
	padding: 20px 20px;
	display: inline-block;
	width: 250px;
}

header ul li a:hover {
	background-color: #FFFFFF;
}

a.aside-link {
	display: block;
	text-decoration: none;
	width: 200px;
}

@media screen and (max-width: 479px) {
	main {
		display: block;
	}
	
	form {
		width: 90vw;
	}
	
	a.aside-link {
	width: 100vw;
	}

	.aside-link:hover {
	  background-color: #FFFFFF;
	  opacity: 1;
	}

	nav ul {
	  background-image: none;
	}
	
	#level-history-note {
		width: 100vw;
	}
}
