@font-face {
	font-family: 'uni0553';
	src: url('fonts/uni0553-webfont.woff') format('woff');
}

* {
  box-sizing: border-box;
}

.header {
	background-color: #7a7989;
	color: #000000;
	text-align: center;
	font-family: uni0553;
}

header {
	padding: 10px;
	background-color: #7a7989;
	color: #000000;
	text-align: center;
	font-family: uni0553;
}

nav ul {
	    list-style-type: none;
		margin: 0;
}

.aside-link {
	text-align: center;
	background-color: #CBCAD0;
	color: black;
	font-family: uni0553, 'Times New Roman';	
	padding: 30px 10px;
	cursor: pointer;
}

.aside-link:hover {
	background-color: #FFFFFF;
}

#aside-note {
	margin-left: 50px;
}

form {
	text-align: center;
	margin: 20px;
}

input {
	margin: 4px;
}

header nav ul {
	display: flex;
}

main {
    display: flex;
}

#about-article {
	margin: 50px;
	margin-left: 80px;
}

aside h2 {
	font-family: cursive;
	color: green;
}

footer {
	margin-left: 200px;
}
.chart_header {
	background-color: #FFFFFF;
}

.btn-group button {
	background-color: #CBCAD0;
	color: black;
	border: none;
	font-family: Arial;
	padding: 10px 24px;
	cursor: pointer;
	width: 20%;
	height: 80px;
	display: block;
}

#chart_link {
	color: #000000;
	text-decoration: none;
	font-family: uni0553, 'Times New Roman';
	font-size: 15px;
}

a.aside-link {
	display: block;
	text-decoration: none;
	width: 200px;
}

.btn-group button:hover {
	background-color: #FFFFFF;
}

#chart_home {
	background-color: #7a7989;
	width: 15%;
	height: 100px;
	border-radius: 12px;
	float: left;
}

.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
