@font-face {
	font-family: 'uni0553';
	src: url('fonts/uni0553-webfont.woff') format('woff');
}

* {
  box-sizing: border-box;
}

.header {
	background-color: #7a7989;
	color: #000000;
	text-align: center;
	font-family: uni0553;
}

.chart_header {
	background-color: #FFFFFF;
}

.btn-group button {
	background-color: #CBCAD0;
	color: black;
	border: none;
	font-family: Arial;
	padding: 10px 24px;
	cursor: pointer;
	width: 20%;
	height: 80px;
	display: block;
}

#chart_link {
	color: #000000;
	text-decoration: none;
	font-family: uni0553, 'Times New Roman';
	font-size: 15px;
}

a {
	text-decoration: none;
}

.btn-group button:hover {
	background-color: #FFFFFF;
}

#bottom_header {
	padding: 10px;
}

#chart_home {
	background-color: #7a7989;
	width: 15%;
	height: 100px;
	border-radius: 12px;
	float: left;
}

.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}